app = "enffly-upload"

[processes]
web = "gunicorn -w 1 -k gthread --threads 4 -b 0.0.0.0:8080 upload_api:app"
[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
