# If you insist on separate apps, NOTE: volumes are NOT shared between apps.
# With this project, you should use the single-app fly.toml instead.
app = "enffly-upload"

[processes]
web = "gunicorn -w 1 -k gthread --threads 4 -b 0.0.0.0:8080 upload_api:app"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1

[[mounts]]
source = "data"
destination = "/data"
