app = "enffly"

primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[processes]
  app = "/app/start.sh"

[[mounts]]
  source = "data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true

  [[http_service.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "10s"
    method = "GET"
    path = "/health"
